.main{
  max-width: 100vw;
  height: 100vh;
  padding: 6vh;
}

.filter{
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content:center;
  overflow: hidden;
  
}

.filterWrap{
  width: 380px;
  min-width: 252px;
  height: 110px;
  padding: 16px;

  border-radius: 10px;
  background: linear-gradient(67deg,rgb(200, 216, 231,.3), rgba(255,255,255,.8));
  /* box-shadow:  2px 2px 12px #c8d8e7; */
  box-shadow: 
        inset 0px 11px 8px -10px #acbdce,
        inset 10px 0 8px -10px #acbdce; 
}

.container{
  display: flex;
  flex-direction: row;
  
}

.filterLabel {
  font-family: "Hind", sans-serif;
  display: block;
  color: #6b7b8f;
  margin-bottom: 12px;
}

.icon{
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 12px;
  box-shadow: 
    inset -10px 11px 8px -10px white,
    inset 10px -11px 8px -10px white; 
}

.inputBox {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.input{
  width: 100%;
  height: 46px;
  padding: 16px 32px;

  background-color: #e3edf7;
  outline: none;
  border: none;
  display: block;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  transition: all 240ms ease-out;
  box-shadow: 
        inset 0px 11px 8px -10px #acbdce,
        inset 10px 0 8px -10px #acbdce; 
}

.input::placeholder {
  color: #6d7f8f;
}

.input:focus {
  outline: none;
  color: #6b7b8f;
}

.films{
  padding: 4vh;
}

.filmsWrap{
  display: grid;
  grid-template-columns: 1fr  1fr  1fr 1fr;
  gap: 30px;
}